<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Login</title>
  </head>
  <body class="bodyclass">
    <div class="logInDiv">
        <h1 class="logInHeader">Login</h1>
      <div class="logInInputDiv">
        <form action="/login" method="post" style="display: flex; flex-direction: column;">
            <label for="logInEmail" class="logInLabel">Email</label>
            <input type="email" name="logInEmail" class="logInInput" />
            <label for="logInPassword" class="logInLabel">Password</label>
            <input type="password" name="logInPassword" class="logInInput" />
            <button type="submit" class="logInButton">LOG IN</button>
        </form>
      </div>
      <div class="signUpIfNoAccDiv">
        <h1 class="noAccHeader">Don't have an account?</h1>
        <a href="/sign-up" class="signUpLink">Sign Up</a>
      </div>
      <div class="changePasswordDiv">
        <h1 class="noAccHeader">Forgot your password?</h1>
        <a href="/change-password" class="signUpLink">Recover</a>
      </div>
    </div>
  </body>
</html>
